<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-user"></i>
				<a href="/friends">Friends</a>
            </li>
            <li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Inbox</a>
			</li>
			<li>
				<i class="ti-files"></i>
				<a href="/createPage">Create Page</a>
			</li>
			<li>
				<i class="ti-magnet"></i>
				<a href="/createGroup">Create Group</a>
			</li>
			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">Notifications</a>
			</li>
		</ul>
	</div>
</aside>